/*grid container areas*/
.header { grid-area: header;}
.switch { grid-area: switch;}
.main { grid-area: main;}
.main1 { grid-area: main1;}
.main2 { grid-area: main2;}
.main3 { grid-area: main3;}
.main4 { grid-area: main4;}
.footer { grid-area: footer;}
.calc { grid-area: calc;}
.animated { grid-area: animated;}
.fade-in-out-image { grid-area: fade;}
.contact { grid-area: contact;}

/*default grid container*/
.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'switch'
    'main'
    'main1'
    'main2'
    'main3'
    'main4'
    'footer';
    gap: 50px;
    padding: 25px;
    max-width: 600px;
    margin: 0 auto;
}
/*main html and font sizes*/
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

body {
   transition: background-color 0.5s ease;
}

h1 {
    font-weight: bold;
    font-size: 18px;;
}

h2 {
    font-weight: bold;
    font-size: 18px;;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 18px;
}

a {
    display: inline-block;
    padding: 3px 15px; 
    color: #000000;
    border-radius: 30px; 
    text-decoration: none;
    border: 2px solid white;
}

a:hover {
    background-color: #CCCCCC;
    color: rgb(0, 0, 0);
}
/*dark mode styling for switch*/
.dark-mode, a{
    background-color: #333;
    color: #fff;
}

.dropdown-content a {
    background-color: #fff
}

.dropdown a:hover {
    background-color: #CCCCCC;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
/*dropdown navigation icon and hover*/
.dropdown {
    position: relative;
    display: inline-block;
}

.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #234876;
    margin: 6px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*header image and container*/
.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 50px;
    padding: 25px;
    background-color: white;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.header img, .footer img {
    width: 250px;
}
/*main info including the first section in grid*/
.main {
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
}

.fade-in-out-image, .color-changing-image, .animated {
    display: flex;
    margin: 0 auto;
}

.left {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.left img {
    width: 100%;
    display: block;
}
/*content flex box for main1 main2 main3 and main4*/
.content {
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

 .main2, .main3, .main4 {
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
}

.content img {
    width: 100%;
    display: block;
}
/*calc button within main2*/
.calcIndex {    
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    max-width: 600px;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-size: 21px;
    }
/*footer*/
.navFoot {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F4E2D6;
    padding: 20px;
    gap: 25px;
}

/*contact page style*/
.grid-container-contact {
    display: grid;
    grid-template-areas: 
    'header'
    'switch'
    'fade'
    'contact'
    'footer';
}

.contact {
    background-color: #FFA500;
    padding: 55px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
}

ul {
    list-style: none;
    line-height: 35px;
}

hr{
    height: 3px;
    background-color: #234876;
}
/*modal window for contact within main1*/
#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #234876;
    border-radius: 15px;
    z-index: 2;
}

#openModalBtn {
    display: inline-block;
    padding: 10px 15px; 
    color: #234876;
    border-radius: 30px; 
    text-decoration: none;
    border: 2px solid #234876;
    font-size: 21px;
    background-color: white;
    cursor: pointer;
}

#openModalBtn :hover {
    background-color: #CCCCCC;
color: white;
}
/*calculator html with grid form buttons styles container styles */
grid-container-calc {
    display: grid;
    grid-template-areas: 
    'header'
    'switch'
    'animated'
    'calc'
    'footer';
}

#calculator-form button {
        display: inline-block;
        padding: 3px 15px; 
        color: #234876;
        border-radius: 30px; 
        text-decoration: none;
        border: 2px solid #234876; 
}

.calc {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 2px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
    padding: 70px;
}
.btns {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
/*index animation*/
.animated {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    transition: transform 0.5s ease;
}

.animated:hover {
    transform: rotate(360deg); 
}

/*calculator animation*/
.color-changing-image {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    transition: filter 0.5s ease; 
}

.color-changing-image {
    animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(90deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    75% {
        filter: hue-rotate(270deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
/*contact animation*/
.fade-in-out-image {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    animation: fadeInOut 5s infinite; 
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0; 
    }
    50% {
        opacity: 1; 
    }
}


/*media query three column grid for wide screen*/
@media only screen and (min-width: 1920px) {

    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
        grid-template-areas:
            'header header header'
            'switch switch switch'
            'animated animated animated'
            'main main main'
            'main2 main3 main4'
            'footer footer footer';
        max-width: 1600px;
        padding: 0;
    }
}



